<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-title>
      <h3>Bienvenido {{nombre}} {{apellido}}</h3>
    </ion-card-title>
  </ion-card>

  <div class="ion-text-center">
    <ion-card-content>
      <ion-item>
        <p>
          Según los datos que nos has proporcionado, 
          deseamos ayudarte a distribuir tus gastos de manera más eficiente, adaptándonos a tus necesidades. 
          Por ello, hemos subdividido tus gastos en diferentes categorías: <br>
          1.- Mercadería (compras de supermercado, comida, etc.) <br>
          2.- Servicios (luz, agua, gas, internet, colegios, bencina, transporte, arriendo, hipoteca, salud, etc.) <br>
          3.- Entretenimiento (salidas, cine, teatro, deportes, etc.) <br>
          Esta subdivisión te permitirá tener un mayor control sobre tus finanzas y optimizar tu capacidad de ahorro. <br>
        </p>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Monto disponible</ion-label>
        <p>Disponible: {{ montoEnReduccion }}</p>
      </ion-item>
      
    </ion-card-content>
  </div>

  <ion-item>
    <ion-label position="stacked">Mercadería</ion-label>
    <ion-input type="number" placeholder="Ingresa un valor" [(ngModel)]="valorASumarMercaderia"></ion-input>
    <ion-button color="medium" (click)="sumarGasto('mercaderia', valorASumarMercaderia)">Sumar</ion-button>
    <p>Disponible: {{ montoEnReduccion }}</p>
    <p>Equivalente al porcentaje: {{ porcentajeMercaderia }}%</p> 
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Servicios</ion-label>
    <ion-input type="number" placeholder="Ingresa un valor" [(ngModel)]="valorASumarServicios"></ion-input>
    <ion-button color="medium" (click)="sumarGasto('servicios', valorASumarServicios)">Sumar</ion-button>
    <p>Disponible: {{ montoEnReduccion }}</p>
    <p>Equivalente al porcentaje: {{ porcentajeServicios }}%</p> 
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Entretenimiento</ion-label>
    <ion-input type="number" placeholder="Ingresa un valor" [(ngModel)]="valorASumarEntretenimiento"></ion-input>
    <ion-button color="medium" (click)="sumarGasto('entretenimiento', valorASumarEntretenimiento)">Sumar</ion-button>
    <p>Disponible: {{ montoEnReduccion }}</p>
    <p>Equivalente al porcentaje: {{ porcentajeEntretenimiento }}%</p> 
  </ion-item>

  <ion-item>
    <ion-button expand="block" color="medium" (click)="reiniciar()">Reiniciar</ion-button>
  </ion-item>

</ion-content>
